@model HADev.Delivery.Domain.Models.Eleitor

@{
    ViewData["Title"] = "Eleitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Eleitor</h2>


<hr />

<div class="row">
    <div class="col-md-12">
        <form>
            <partial name="_Details_Delete" />

            <div class="form-group col-md-3">
                <a asp-controller="Eleitor" asp-action="Edit" asp-route-id="@Model.EleitorId" class="btn btn-info">Editar</a> &nbsp;&nbsp;&nbsp;
                <a asp-controller="Eleitor" asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>
