@model HADev.Delivery.Domain.Models.GrupoPessoa

@{
    ViewData["Title"] = "Grupo de Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Grupo de Pessoas</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <partial name="_Details_Delete" />


            <div class="form-group">
                <a asp-controller="GrupoPessoa" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Editar</a> &nbsp;&nbsp;&nbsp;
                <a asp-controller="GrupoPessoa" asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>
