@model HADev.Delivery.Domain.Models.Cidade

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Cidade</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CidadeId" />

            <partial name="_Create_Edit" />

        </form>
    </div>
</div>

